* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(216, 216, 216, 1);
  font-family: sans-serif;
}

.main_box {
  width: 1160px;
  height: 528px;
  display: flex;
  gap: 20px;
}

.peperoni_box,
.tortelini_box {
  width: 360px;
  height: 528px;
  background-color: white;
  border-radius: 16px;
}

.peperoni_img,
.tortelini_img {
  position: relative;
  display: flex;
}

.position {
  position: absolute;
  right: 24px;
  top: 16px;
}

.heading_text {
  margin-top: 32px;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.heading_text h4 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(8, 31, 50, 1);
  margin-right: auto;
}

.heading_text img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 6px;
  margin-right: 15px;
}

/* ახალი კლასები nth-child-ის მაგივრად */
.fire {
  background-color: #f4511e;
}

.wheat {
  background-color: #f9c728;
}

.middle_text {
  width: 312px;
  height: 72px;
  margin-top: 24px;
  margin-left: 24px;
}

.middle_text p {
  color: rgba(110, 121, 140, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 16px;
}

.middle_text span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: rgba(165, 173, 187, 1);
  margin-bottom: 6px;
}

.nutrition {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.nutrition span {
  font-size: 16px;
  font-weight: 600;
  color: rgba(165, 173, 187, 1);
}

.price {
  margin-top: 81px;
  margin-left: 24px;
  display: flex;
}

.price p {
  font-size: 28px;
  font-weight: 400;
  color: rgba(8, 31, 50, 1);
  margin-top: -55px;
  margin-right: 15px;
}

.price span {
  font-size: 20px;
  font-weight: 400;
  color: rgba(248, 89, 59, 1);
  text-decoration: line-through;
  margin-right: 15px;
  margin-top: -50px
}

.bottom_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  margin-top: 60px;
}

  .order_btn {
  background: #1ecc70;
  color: white;
  border: none;
  padding: 14px 32px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}

.cake_box {
  width: 360px;
  height: 528px;
  background-color: white;
  border-radius: 16px;
}

.cake_img {
  position: relative;
  display: flex;
}